.header {
	top:20px; text-align: center;background-color: rgba(0, 0, 0, 0.8);
}
body { background: url(background.jpg); color: #fff;background-size: cover;}
.main {
	padding-top:100px; text-align: center;background-color: rgba(0, 0, 0, 0.5); font-size: 18pt;
}

.footer {
	top:20px; background-color: rgb(161, 161, 161); color:rgb(7, 7, 7); font-size: 16pt;

}

.posLeft {
	margin-left:-66%;
}
div { text-align: center }

.posCenter {
	margin-left:33%;
}
a {
    color: #ff0000; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }
   a:visited {
    color: #ff6600; /* Цвет посещённой ссылки */
   } 
   a:hover {
    color: #850404; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
   }
   IMG.fig {
    float: left; /* Обтекание картинки по левому краю */
    padding-left: 10px; /* Отступ слева */
    padding-bottom: 10px; /* Отступ снизу */
   }
